@using Flot.Mvc.ComplexFlot
@using Flot.Mvc.Extensions
@using Flot.Mvc.Sample.Models

@{
    ViewBag.Title = "Bar Sample";

    const string Canvas = "BarFlot";
    var barFlot = new BarFlot();
    barFlot.ComplexData.Labels.AddRange(FakeComplexFlotData.Labels);
    barFlot.ComplexData.Datasets.AddRange(FakeComplexFlotData.Datasets);
}

<script src="@Url.Content("~/Scripts/Chart.js")"></script>
<h3>@Canvas</h3>
<canvas id="@Canvas" width="400" height="400"></canvas>
@Html.CreateFlot(Canvas, barFlot)